body {
    background-color: rgb(255, 255, 224);
}

h1 {
    text-align: center;
    color: rgb(204,0,0);
    font-size: 12pt;
    font-weight: bold;
}

h2 {
    font-size: 10pt;
    font-weight:lighter;
}

.italic {
    font-style: italic;
}

#Direct speech {
    font-style:italic;
}